html, body {
    margin: 0;
    padding: 0;
    background-color: #BD632F;
    color: #0B2027;
    font-family: 'Josefin Sans', 'Times New Roman';
}

h1 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 40px;
}

header {
    background-color: #A4243B;
    height: 80px;
    width: 100%;
    position: fixed;
    margin: 0 auto;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #0B2027;
}

.social {
    float: left;
    text-align: left;
    font-size: 2.8em;
    padding: 15px 20px;
}

nav {
    float: right;
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 30px 20px;
}

nav a {
    font-size: 1.5em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #0B2027;
    transition-property: color;
    transition-duration: 750ms;
}

a:hover {
    color: white;
}

main {
    position: relative;
    top: 80px;
    text-align: center;
    margin-bottom: 60px;
}

article a {
    font-weight: bold;
}

.centredflex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.certbox {
    width: 400px;
    height: 300px;
    background-color: #3E5641;
    border: 1px solid #0B2027;
    margin-bottom: 20px;
}

.certbox h3 {
    background-color: white;
    padding: 5px;
    border-left: 1px solid #3E5641;
    border-right: 1px solid #3E5641;
}

.certbox img {
    width: 200px;
}

.course {
    background-color: #241E4E;
}

#intro {
    background-color: #D8973C;
    padding: 10px 50px;
    border-bottom: 1px solid #0B2027;
}

#intro article {
    text-align: center;
    flex-grow: 2;
    width: 300px;
}

#intro figure {
    flex-grow: 1;
}

#intro img {
    border-radius: 50%;
    border: 10px solid #A4243B;
    opacity: 0.7;
    max-width: 20em;
}

#certs {
    text-align: center;
}

.centredflexwork {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.workbox {
    background-color: #D8973C;
    width: 700px;
    flex-shrink: 1;
    padding: 5px;
    border: 1px solid #241E4E;
    margin-bottom: 20px;
}

.workbox h3 {
    background-color: white;
    color: #241E4E;
    padding: 5px;
}

footer {
    background-color: #A4243B;
    height: 45px;
    width: 100%;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid #0B2027;
    text-align: center;
}

footer h5 {
    margin: 5px 10px;
}