html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Josefin Sans', 'Times New Roman';
}

h1 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 40px;
}

header {
    background-color: #3796bf;
    height: 80px;
    width: 100%;
    position: fixed;
    margin: 0 auto;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #000;
}

.social {
    float: left;
    text-align: left;
    font-size: 2.8em;
    padding: 15px 20px;
}

nav {
    float: right;
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 30px 20px;
}

nav a {
    font-size: 1.5em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
    transition-property: color;
    transition-duration: 750ms;
}

a:hover {
    color: white;
}

main {
    display: grid;
    position: relative;
    top: 80px;
    text-align: center;
    margin-bottom: 60px;
}

article a {
    font-weight: bold;
}

.centredflex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.certbox {
    width: 400px;
    height: 300px;
    background-color: #81d1ec;
    border: 1px solid;
    box-shadow: 3px 3px 5px 1px;
    margin: 20px;
    flex-grow: 0.7;
}

.certbox h3 {
    background-color: black;
    color: white;
    padding: 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.certbox img {
    width: 50%;
    border: 1px solid black;
}

.course {
    background-color: #81d1ec;
}

#intro {
    background-color: #4bb5d9;
    padding: 10px 50px;
    border-bottom: 1px solid #000;
}

#intro article {
    text-align: center;
    flex-grow: 2;
    width: 300px;
}

#intro figure {
    flex-grow: 1;
}

#intro img {
    border-radius: 50%;
    border: 10px solid #3796bf;
    opacity: 0.7;
    max-width: 20em;
}

#certs {
    text-align: center;
}

#work {
    background-color: #4bb5d9;
}

.centredflexwork {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.workbox {
    background-color: #fff;
    width: 700px;
    flex-shrink: 1;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.workbox h3 {
    background-color: black;
    color: white;
    padding: 5px;
}

footer {
    background-color: #3796bf;
    height: 100px;
    width: 100%;
    /* position: fixed; */
    margin: 0 auto;
    bottom: 0;
    /* z-index: 1; */
    border-top: 1px solid black;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    h2 {
        font-size: 4em;
    }

    #intro h1 {
        font-size: 8.5em;
    }

    #intro article {
        font-size: 2.5em;
    }

    #intro img {
        max-width: 25em;
    }
}
